#media-details-dialog .media-details {
  height: 100%;
  width: 100%;
}

#media-details-dialog .media-details_overlay {
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  background: $ngm-background-overlay-color-1;
}

#media-details-dialog .media-details_content {
  margin: 0;
}

#media-details-dialog .media-details_info {
  margin-top: 3rem;
}
