<div class="media-info">
    <div class="media-info_header">
        <h2 class="media-info_title">{{media | mediaTitle}}</h2>
        <media-rating [media]="media"></media-rating>
    </div>
    <div class="media-info_panel">
        <span class="media-info_genres">
        <span *ngFor="let genre of media?.genres" class="media-info_genre">
            {{genre.name}}
        </span>
        </span>
        <span class="media-info_release-date">
        <span>{{media | mediaDate | releaseDate}}</span>
        </span>
        <span class="media-info_timer">
            <span>{{media | mediaTime }}</span>
        </span>
    </div>
    <p class="media-info_overview">{{media?.overview}}</p>
</div>
  