.movie-view_info {
  display: flex;
  margin-bottom: 1rem;
}

.movie-view_media-poster {
  margin-right: 1rem;
}

.movie-view_casting_list {
  display: flex;
}

.movie-view_cast-card {
  margin-right: 1rem;
}
