.home {
  min-height: 100vh;
  min-width: 100%;
  max-height: 100vh;
  margin: 0;
  background-size: 100%;
  position: relative;
}

.home_content {
  width: 600px;
  margin: 0 auto;
  padding-top: 25vh;
  filter: none;
  text-align: center;
}

.home_title {
  font: normal normal 900 48px/64px Lato;
  letter-spacing: 0.96px;
  color: #FFFFFF;
}

.home_link {
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid #FFFFFF;
  box-shadow: 0px 0px 20px #0022FF66;
  margin-right: 1rem;
  font: normal normal bold 16px Open Sans;
  letter-spacing: 0.1px;
  padding: 0.5rem 2rem;
  color: #FFFFFF;
}

.box-office {
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
}

.box-office_background {
  background: transparent 0% 0% no-repeat padding-box;
  background-size: 100%;
  opacity: 0.08;
  height: 100%;
  width: 100%;
  position: absolute;
  min-height: 100vh;
  max-height: 100vh;
}

.box-office_content {
  margin: 0 172px;
  padding-top: 20px;
}

.box-office_title {
  width: 100%;
  font: normal normal bold 48px/64px Open Sans;
  letter-spacing: 0.96px;
  color: #FFFFFF;
  opacity: 1;
  border-bottom: 1px solid #707070;
}

.box-office_info {
  display: flex;
  margin-top: 10rem;
  margin-left: 5rem;
}

.box-office_media-poster {
  margin-right: 5rem;
}

.box-office_casting_list {
  display: flex;
  justify-content: center;
}

.box-office_casting-title {
  font: normal normal bold 24px/28px Open Sans;
  letter-spacing: -0.14px;
  color: #FFFFFF;
  border-bottom: 1px solid #707070;
  width: 100%;
}

.box-office_cast-card {
  margin-right: 3rem;
}
