<div id="home" class="home">
    <div class="home_content">
        <h1 class="home_title">Open the world of movie.</h1>
        <a mat-raised-button [routerLink] class="home_link" fragment="popular-movies">Popular movies</a>
        <a mat-raised-button [routerLink] class="home_link" fragment="popular-tv-shows">Popular Tv Shows</a>
    </div>
</div>
<ng-container *ngIf="moviesData$ | async as data">
    <div class="box-office" [ngStyle]="{'background-image': 'url(' + getPosterUrl(data.movie) + ')'}">
        <div class="box-office_overlay">
            <div class="box-office_content">
                <h2 class="box-office_title">Box office</h2>
                <div class="box-office_info">
                    <media-poster class="box-office_media-poster" [media]="data.movie"></media-poster>
                    <div>
                        <movie-info [movie]="data.movie"></movie-info>
                        <div class="box-office_casting">
                            <h3 class="box-office_casting-title">Casting</h3>
                            <div class="box-office_casting_list">
                                <cast-card class="box-office_cast-card" *ngFor="let cast of data.casts | slice:0:5" [cast]="cast"></cast-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <popular-medias id="popular-movies" [medias]="data.movies | slice:1:11" title="Most popular movies"></popular-medias>
</ng-container>
<popular-medias 
    id="popular-tv-shows"
    *ngIf="popularTvShows$ | async as popularTvShows" 
    [medias]="popularTvShows | slice:0:10" 
    title="Most popular Tv Shows">
</popular-medias>