<div class="tv-show-info">
    <h1>{{tvShow?.original_name}}</h1>
    <div class="tv-show-info_genres">
        <span *ngFor="let genre of tvShow?.genres" class="tv-show-info_genre">{{genre.name}}</span>
    </div>
    <div class="tv-show-info_panel">
        <span class="tv-show-info_release-date">
            <mat-icon class="tv-show-info_icons">calendar_today</mat-icon><span>{{tvShow?.first_air_date | releaseDate}}</span>
        </span>
        <span class="tv-show_info_seasons">
            {{tvShow?.number_of_seasons}} seasons, {{tvShow?.number_of_episodes}} episodes
        </span>
    </div>
    <p class="tv-show-info-overview">{{tvShow?.overview}}</p>
    <seen-list-toggle [media]="tvShow"></seen-list-toggle>
    <watch-list-toggle [media]="tvShow"></watch-list-toggle>
</div>