.media-details {
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  background-size: 100%;
  background-repeat: no-repeat;
}

.media-details_overlay {
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  background: rgba(22, 26, 26, 0.95);
}

.media-details_content {
  margin: 0 172px;
  padding-top: 20px;
  height: 100%;
}

.media-details_title {
  width: 100%;
  font: normal normal bold 48px/64px Open Sans;
  letter-spacing: 0.96px;
  color: #FFFFFF;
  opacity: 1;
  border-bottom: 1px solid #707070;
}

.media-details_info {
  display: flex;
  margin: 10rem 5rem;
}

.media-details_poster-wrapper {
  display: flex;
  flex-direction: column;
}

.media-details_media-poster {
  margin-right: 5rem;
}

.media-details_casting_list {
  display: flex;
  justify-content: center;
}

.media-details_casting-title {
  font: normal normal bold 24px/28px Open Sans;
  letter-spacing: -0.14px;
  color: #FFFFFF;
  border-bottom: 1px solid #707070;
  width: 100%;
}

.media-details_cast-card {
  margin-right: 3rem;
}
