.tv-show-view_media-poster {
    margin-right: 1rem;
}

.tv-show-view_info {
    display: flex;
    margin-bottom: 1rem;
}

.tv-show-view_casting-list {
    display: flex;
}

.tv-show-view_cast-card {
    margin-right: 1rem;
}
