<div class="tv-show-view" *ngIf="data$ | async as data">
    <div class="tv-show-view_info">
        <media-poster class="tv-show-view_media-poster" [media]="data[0]"></media-poster>
        <tv-show-info [tvShow]="data[0]"></tv-show-info>
    </div>
    <div class="tv-show-view_casting">
        <h2>Casting</h2>
        <div class="tv-show-view_casting-list">
            <cast-card class="tv-show-view_cast-card" *ngFor="let cast of data[1] | slice:0:5" [cast]="cast"></cast-card>
        </div>
    </div>
</div>
  