.movie-card {
  width: 200px;
  margin: 1rem;

  /* using ::ng-deeep selector, need to come up with a better solution in the future */
  mat-card-header::ng-deep .mat-card-header-text {
    margin: 0;
    font-size: 16px;
  }

  .info-content {
    margin-bottom: 1rem;
    .material-icons {
      vertical-align: bottom;
      margin-right: 1rem;
      font-weight: bold;
    }
  }
}
