<mat-card class="movie-card">
  <img mat-card-image [src]="getMoviePoster()" [alt]="movie?.original_title">
  <mat-card-header>
    <mat-card-title>{{movie?.original_title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="info-content">
      <mat-icon>calendar_today</mat-icon><span class="info-label">{{movie?.release_date | releaseDate}}</span>
    </div>
  </mat-card-content>
  <mat-card-actions>
      <a mat-icon-button [routerLink]="['/movies', movie?.id]" matTooltip="Open movie detail"  matTooltipPosition="below">
        <mat-icon>open_in_new</mat-icon>
      </a>
      <button mat-icon-button (click)="toggleSeen()">
        <mat-icon *ngIf="isSeen(); else elseSeenBlock" matTooltip="Remove from seen movies"  matTooltipPosition="below" color="primary">visibility_off</mat-icon>
        <ng-template #elseSeenBlock><mat-icon matTooltip="Add to seen movies"  matTooltipPosition="below">visibility</mat-icon></ng-template>
      </button>
      <button mat-icon-button (click)="toggleWatch()">
        <mat-icon *ngIf="isWatch(); else elseWatchBlock" matTooltip="Remove from watch list"  matTooltipPosition="below" color="primary">tv_off</mat-icon>
        <ng-template #elseWatchBlock><mat-icon matTooltip="Add to watch list"  matTooltipPosition="below">tv</mat-icon></ng-template>
      </button>
  </mat-card-actions>
</mat-card>
