.movie-card {
  width: 150px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.movie-card_actions {
  float: right;
}

.movie-card_info-content {
  margin-bottom: 1rem;
}

.movie-card_calendar-icon {
  vertical-align: bottom;
  margin-right: 1rem;
  font-weight: bold;
}
