<mat-card class="movie-card">
  <img mat-card-image [src]="getMoviePoster()" [alt]="movie?.original_title">
  <mat-card-header>
    <mat-card-title>{{movie?.original_title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="info-content">
      <mat-icon>calendar_today</mat-icon><span class="info-label">{{movie?.release_date | releaseDate}}</span>
    </div>
  </mat-card-content>
  <mat-card-actions>
      <a mat-icon-button [routerLink]="['/movies', movie?.id]" matTooltip="Open movie detail"  matTooltipPosition="below">
        <mat-icon>open_in_new</mat-icon>
      </a>
      <span class="movie-card-actions">
        <seen-list-toggle [movie]="movie"></seen-list-toggle>
        <watch-list-toggle [movie]="movie"></watch-list-toggle>
      </span>
  </mat-card-actions>
</mat-card>
