.nav-bar {
  position: fixed;
  z-index: 2;
  background: transparent;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  color: white;
  letter-spacing: 0.11px;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
}

.nav-bar_home-link {
  text-decoration: none;
  color: white;
}

.nav-bar_home-logo {
  margin-right: 1rem;
  position: relative;
}

.nav-bar_home-icon {
  margin-right: 0.2rem;
  height: 15px;
  position: relative;
  top: 6px;
}


.nav-bar_logo-icon {
  margin-right: 0.2rem;
  height: 15px;
  position: relative;
  top: 6px;
}

.nav-bar_search-field-wrapper {
  position: relative;
}

.nav-bar_search-field-icon {
  position: absolute;
  top: 6px;
  left: 6px;
}

.nav-bar_search-field {
  width: 350px;
  height: 28px;
  border-radius: 25px;
  border: white solid 1px;
  background-color: transparent;
  padding-left: 35px;
  color: white;
  outline: none;
}

.nav-bar_search-field:focus {
  border: none;
  background-color: white;
  color: black;
}

.nav-bar_fav-zone {
  text-align: center;
}

.nav-bar_fav-list {
  margin-right: 1rem;
  position: relative;
}

.nav-bar_fav-icon {
  margin-right: 0.2rem;
  height: 15px;
  position: relative;
  top: 6px;
}

.nav-bar_watch-icon {
  margin-right: 0.2rem;
  height: 15px;
  position: relative;
  top: 6px;
}