<mat-toolbar class="nav-bar">
  <div class="nav-bar_home-zone">
    <span class="nav-bar_home-logo">
      <mat-icon class="nav-bar_logo-icon material-icons-outlined">favorite_border</mat-icon>
      movie box
    </span>
    <a [routerLink]="['/medias']" fragment="home" class="nav-bar_home-link">
      <mat-icon class="nav-bar_home-icon material-icons-outlined">home</mat-icon>
      Home
    </a>
  </div>
  <div class="nav-bar_search-zone">
    <div class="nav-bar_search-field-wrapper">
      <mat-icon class="nav-bar_search-field-icon">search</mat-icon>
      <input class="nav-bar_search-field" />
    </div>
  </div>
  <div class="nav-bar_list-zone">
    <span class="nav-bar_fav-list">
      <mat-icon class="nav-bar_fav-icon material-icons-outlined">favorite_border</mat-icon>
      My favorites
    </span>
   
    <span class="nav-bar_watch-list">
      <mat-icon class="nav-bar_watch-icon material-icons-outlined">visibility</mat-icon>
      My watch list
    </span>
  </div>
</mat-toolbar>
