.media-card {
    margin: 0.5rem;
    width: 245px;
}

.media-card_poster-wrapper {
    position: relative;
    width: 245px;
}

.media-card_poster-wrapper:hover .media-card_poster-overlay {
    display: block;
}

.media-card_poster-overlay {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(22, 26, 26, 0.7);
    border-radius: 16px;
    display: none;
    cursor: pointer;
}

.media-card_rating {
    position: absolute;
    left: 15px;
    bottom: 20px;
}

.media-card_action-buttons {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.media-card_title {
    margin: 0;
    margin-top: 0.2rem;
    text-align: left;
    letter-spacing: 0.09px;
    font: normal normal normal 15px Open Sans;
}

.media-card_subtitle {
    margin: 0;
    text-align: left;
    letter-spacing: 0.09px;
    font: normal normal normal 14px/17px Open Sans;
    color: #99999F;
    letter-spacing: 0.08px;
}
