.media-card {
    margin: 0.5rem;
}

.media-card_title {
    margin: 0;
    margin-top: 0.2rem;
    text-align: left;
    letter-spacing: 0.09px;
    font-size: 15px;
}

.media-card_subtitle {
    margin: 0;
    text-align: left;
    letter-spacing: 0.09px;
    font-size: 12px;
}