.movie-info_title {
  margin: 0;
  font-size: 35px;
}

.movie-info_genres::after {
  content: ' | ';
}

.movie-info_genre::after {
  content: ', ';
}

.movie-info_genre:last-of-type::after {
  content: '';
}

.movie-info_panel {
  margin-bottom: 1rem;
  color: #2DCEEF;
  font-size: 12px;
}

.movie-info_overview {
  text-align: justify;
}

.movie-info_icons {
  vertical-align: bottom;
}

.movie-info_release-date::after {
  content: ' | ';
}


