.movie-info_title {
  font: normal normal bold 50px Open Sans;
  letter-spacing: -1.5px;
  color: #FFFFFF;
  opacity: 1;
  margin: 0;
}

.movie-info_genres::after {
  content: ' | ';
}

.movie-info_genre::after {
  content: ', ';
}

.movie-info_genre:last-of-type::after {
  content: '';
}

.movie-info_panel {
  margin-bottom: 1rem;
  color: #2DCEEF;
  font-size: 12px;
}

.movie-info_overview {
  text-align: justify;
  font: normal normal normal 20px/35px Open Sans;
  letter-spacing: 0.32px;
  color: #FFFFFF;
  opacity: 1;
}

.movie-info_icons {
  vertical-align: bottom;
}

.movie-info_release-date::after {
  content: ' | ';
}


