<div class="movie-info">
  <h2 class="movie-info_title">{{movie?.original_title}}</h2>
  <div class="movie-info_panel">
    <span class="movie-info_genres">
      <span *ngFor="let genre of movie?.genres" class="movie-info_genre">
        {{genre.name}}
      </span>
    </span>
    <span class="movie-info_release-date">
      <span>{{movie?.release_date | releaseDate}}</span>
    </span>
    <span class="movie-info_timer">
      <span>{{movie?.runtime | runtime }}</span>
    </span>
  </div>
  <p class="movie-info_overview">{{movie?.overview}}</p>
</div>
