.tv-show-card {
    width: 150px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.tv-show-card_actions {
    float: right;
}

.tv-show-card_info-content {
    margin-bottom: 1rem;
}

.tv-show-card_calendar-icon {
    vertical-align: bottom;
    margin-right: 1rem;
    font-weight: bold;
}
  