$ngm-background-color: #161A1A;
$ngm-background-blue-color: #4CA0EF;
$ngm-background-overlay-color-1: rgba(22, 26, 26, 0.95);
$ngm-background-overlay-color-2: rgba(22, 26, 26, 0.7);
$ngm-title-color: #D5D5D5;
$ngm-subtitle-color: #99999F;
$ngm-white-color: #FFFFFF;
$ngm-black-color: #000000;
$ngm-genre-color: #2DCEEF;
$ngm-gold-color: #ffd700;
$ngm-border-color: #707070;

$ngm-background-blue-gradient: linear-gradient(120deg, #4CA0EF 0%, #9B2DEF 100%);

$ngm-card-width: 245px;
$ngm-poster-radius: 16px;

$ngm-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

$ngm-button-background:  $ngm-background-blue-color $ngm-background-blue-gradient 0% 0% no-repeat padding-box;

$ngm-content-margin: 172px;