.cast-card_image {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 150px;
}

.cast-card_title {
  margin: 0;
  text-align: center;
  font: normal normal normal 14px/19px Open Sans;
  letter-spacing: 0.08px;
  color: #D5D5D5;
}
