$ngm-home-logo-size: 450px;

.home {
  min-height: 100vh;
  min-width: 100%;
  max-height: 100vh;
  margin: 0;
  position: relative;
  background: url('assets/images/background.png');
}

.home_content-background {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: url('assets/images/logomoviebox.png') 50% 33% no-repeat;
  background-size: $ngm-home-logo-size;
  opacity: 0.3;
  top: 0px;
  left: 0px;
}

.home_content {
  width: 600px;
  margin: 0 auto;
  padding-top: 33vh;
  filter: none;
  text-align: center;
}

.home_title {
  font: normal normal 900 48px/64px $ngm-font-2;
  letter-spacing: $ngm-letter-spacing-1;
  color: $ngm-white-color;
}

.home_link {
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid $ngm-white-color;
  margin-right: 1rem;
  font: normal normal bold 16px $ngm-font-1;
  letter-spacing: 0.1px;
  padding: 0.5rem 2rem;
  color: $ngm-white-color;
  box-shadow: unset;
}

.home_link:hover {
    background: $ngm-button-background;
    border: 2px solid transparent;
}
