.media-card {
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: $ngm-card-width;
}

.media-card_poster-wrapper {
    width: $ngm-card-width;
}

.media-card_poster-overlay {
    background-color: $ngm-background-overlay-color-2;
    border-radius: $ngm-poster-radius;
}

.media-card_title {
    margin: 0;
    margin-top: 0.2rem;
    text-align: left;
    letter-spacing: $ngm-letter-spacing-2;
    font: normal normal normal 15px $ngm-font-1;
}

.media-card_subtitle {
    margin: 0;
    text-align: left;
    font: normal normal normal 14px/17px $ngm-font-1;
    color:$ngm-subtitle-color;
    letter-spacing: $ngm-letter-spacing-3;
}

.media-card_action-buttons .mat-icon-button {
    color: $ngm-white-color;
    background: $ngm-button-background;
    margin-bottom: 0.5rem;
}