.popular-medias {
  min-height: 100vh;
}

.popular-medias_content {
  margin: 0 $ngm-content-margin;
  padding-top: 64px;
}

.popular-medias_title {
  width: 100%;
  border-bottom: 1px solid $ngm-border-color;
  font: normal normal bold 48px/64px $ngm-font-1;
  letter-spacing: $ngm-letter-spacing-1;
  color: $ngm-white-color;
  opacity: 1;
}
